<div style="background-color: #007700; height:40px;"><p style="text-indent:25px;padding-top: 5px; color:white; font-family: Verdana; font-size: 18px; font-weight: bold;">     Live Question Tool App: CSC 517 </p> </div>
     <br/><br/>
<div style="margin-right: 350px; margin-left: 350px; text-padding:20px;  background-color: #F5F5F0;font-size: 14px; color: #007700;">
    <p align="center">Search for posts:
    <form action="/users/search" align="center"  method="get" id="search_form">
      <input id="search_input" type="text" name="inp"/> <input type="submit"  id="user"  name="usearch" value="user"/> <input type="submit" id="post" name="psearch" value="post" />
    </form>
    </p>
  <br/>
</div>
<h4 style="color:#007700;">Live Question App Login</h4>
<div style="background-color: #F5F5F0; width: 350px; height: 170px; border-top: 1px solid #007700; border-bottom:1px solid #007700; ">
  <form action="/users/signIn" method="get">
    <br/><b>User ID: </b>  <br/>
    <input type="text" name="uname" style="width: 140px;"/>
    <br/>
    <b> Password: </b>  <br/>
    <input type="password" name="password" style="width: 140px;"/>
    <br/>  <br/>
    <input type="submit" value="Sign in"/>   <%= link_to 'New User', new_user_path %>  <span style="font-size: 7pt;">(Sign up here for a new account)</span>
  </form>
</div>